langgraph
langchain
fastapi
uvicorn
gunicorn
python-dotenv
langchain-groq
faiss-cpu
langchain_huggingface
langchain-community
pypdf
sentence-transformers
python-jose[cryptography]
passlib[bcrypt] 
sqlalchemy 
asyncpg
python-multipart
slowapi
websockets
fastapi-websocket-pubsub
psycopg2
langchain-pinecone
pinecone-client
bcrypt==4.0.1
langchain-text-splitters